# Node modules
node_modules/

# Env files
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build files (if using TypeScript or bundlers)
dist/
build/

# Optional cache
.cache/
coverage/

# IDE folders
.vscode/
.idea/
